################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRUD_EXAMPLE
/WebApiGapInsurance
/GapInsurance_bk
/GAP_INSURANCE/GapInsurance
.vs/
/GAPInsurance/GAP.Common/bin/Debug
/GAPInsurance/Gap.DataAccess/bin/Debug
