<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off" *ngIf="service.formData" >
  <input type="hidden"  name="PolicyId" #PolicyId="ngModel" [(ngModel)]="service.formData.PolicyId">
  <div class="row">
    <div class="col-md-6">
     
        <label>Customer</label>
        <select name="CustomerId"  #CustomerId="ngModel" [(ngModel)]="service.formData.CustomerId" class="form-control"
        [class.is-invalid]="!isValid && service.formData.CustomerId==0">
  
          <option value="0">-Select-</option>
          <option *ngFor="let item of customerList" value="{{item.Id}}">{{item.Name}} {{item.LastName}}</option>

        </select>
        <div *ngIf="CustomerId.touch && ! CustomerId.valid">
            <div *ngIf="CustomerId.errors.required">
              Customer is Required
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <label>Date Issuer Policy</label>
        <input type="date" name="PolicyIssuer" #PolicyIssuer="ngModel" placeholder="Datepicker" class="form-control" bsDatepicker  [(ngModel)]=service.formData.PolicyIssuer [bsConfig]="{ adaptivePosition: true, 
          dateInputFormat:'YYYY-MM-DD'}"  required>
          <div *ngIf="PolicyIssuer.invalid && ( PolicyIssuer.touched || PolicyIssuer.dirty)">
            <p *ngIf="PolicyIssuer.hasError('required')">
              Date is Required
            </p>
      
          </div>
      </div>
  </div>
  <br>  <br>
  <table class="table table-borderless">
      <thead class="thead-light">
        <th>Policy ID</th>
        <th>Policy Name</th>
        <th>Risk Name</th>
        <th>Type Covering</th>
        <th>Max % Covering</th>
        <th>Policy Value</th>
    
        <th>
          <a class="btn btn-sm btn-success text-white"    (click)="AddOrEditPolicyItems(null,service.formData.PolicyId)"><i class="fa fa-plus"></i> Add Item</a>
        </th>
      </thead>
      <tbody>
        <tr *ngIf="service.policyItems.length==0" [class.text-danger]="!isValid && service.policyItems.length==0">
          <td class="font-italic text-center" colspan="5">
            No Policies item selected for this.
          </td>
        </tr>
  
        <tr *ngFor="let item of service.policyItems;let i=index;">
          <td>{{item.PolicyNumber}}</td>
          <td>{{item.PolicyName}}</td>
          <td>{{item.TypeRisks.RiskName}}</td>
          <td>{{item.CoverTypePolicy.Name}}</td>
          <td>{{item.TypeRisks.MaxCovering}}</td>
          <td>{{item.PolicyValue}}</td>

          
          <td>
            <a class="btn btn-sm btn-info text-white" (click)="AddOrEditPolicyItems(i,service.formData.PolicyId)"><i class="fa fa-pencil"></i></a>
           
          </td>
        </tr>
      </tbody>
  </table>
  <div class="row">
      <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
      <a class="btn btn-outline-dark ml-1" routerLink="/policies"><i class="fa fa-table"></i> View Policies</a>
  </div>
  </form>
