<form #form="ngForm" autocomplete="off" *ngIf="service.formData" >
  <input type="hidden"  name="PolicyId" #PolicyId="ngModel" [(ngModel)]="service.formData.PolicyId">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Policy ID</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">#</div>
          </div>
          <input name="PolicyNo" #PolicyNo="ngModel" [(ngModel)]="service.formData.PolicyNo" class="form-control" readonly>
        </div>
        <label>Customer</label>
        <select name="CustomerId" #CustomerId="ngModel" [(ngModel)]="service.formData.CustomerId" class="form-control"
        [class.is-invalid]="!isValid && service.formData.CustomerId==0">
          <option value="0">-Select-</option>

        </select>
      </div>
  </div>
  <div class="col-md-6">

        
     
    </div>
    </div>
  </div>
  <table class="table table-borderless">
      <thead class="thead-light">
        <th>Policy ID</th>
        <th>Customer Name</th>
    
        <th>
          <a class="btn btn-sm btn-success text-white" (click)="AddOrEditPolicyItems(null,service.formData.PolicyId)"><i class="fa fa-plus"></i> Add Item</a>
        </th>
      </thead>
      <tbody>
        <tr *ngIf="service.policyItems.length==0" [class.text-danger]="!isValid && service.policyItems.length==0">
          <td class="font-italic text-center" colspan="5">
            No food item selected for this order.
          </td>
        </tr>
  
        <tr *ngFor="let item of service.policyItems;let i=index;">
          <td>{{item.PolicyNo}}</td>
          <td>{{item.Customer.Name}}</td>
          
          <td>
            <a class="btn btn-sm btn-info text-white" (click)="AddOrEditPolicyItems(i,service.formData.PolicyId)"><i class="fa fa-pencil"></i></a>
           
          </td>
        </tr>
      </tbody>
  </table>
  <div class="row">
      <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
      <a class="btn btn-outline-dark ml-1" routerLink="/policies"><i class="fa fa-table"></i> View Policies</a>
  </div>
  </form>
