<h4 class="dispaly-4">Policy Item</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

  <div class="form-group">
    <label>Cover Type</label>
    <select name="CoverTypeId" #CoverTypeId="ngModel" [(ngModel)]="formData.CoverTypeId" class="form-control"
    [class.is-invalid]="!isValid && formData.CoverTypeId==0">
      <option value="0">-Select-</option>
      <option *ngFor="let item of coverTypeList" value="{{item.Id}}">{{item.Name}}</option>

    </select>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <div class="form-group">
            <label>Type Risk</label>
            <select name="RiskTypeId" #RiskTypeId="ngModel" [(ngModel)]="formData.RiskTypeId" 
            class="form-control" (change)="maxValueCover($event.target)"
            [class.is-invalid]="!isValid && formData.RiskTypeId==0">
              <option value="0">-Select-</option>
              <option *ngFor="let item of typeRiskList" value="{{item.Id}}">{{item.RiskName}}</option>
            </select>
          </div>
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Poliza Value</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input name="PolicyValue" #PolicyValue="ngModel" [(ngModel)]="formData.PolicyValue" class="form-control" readonly>
      </div>
    </div>

  </div>

    
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
</form>
