<h4 class="dispaly-4">Policy Item</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" class="hidden" name="CustomerId" #customerId="ngModel" [(ngModel)]="formData.CustomerId">
  <input type="hidden" class="hidden" name="PolicyIssuer" #PolicyIssuer="ngModel" [(ngModel)]="formData.PolicyIssuer">
  <input type="hidden" class="hidden" name="PolicyId" #PolicyId="ngModel" [(ngModel)]="formData.PolicyId">
  <div class="form-group">
    <label>Policy ID</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">#</div>
      </div>
      <input name="PolicyNumber" #PolicyNumber="ngModel" [(ngModel)]="formData.PolicyNumber" class="form-control" readonly>
    </div>
</div>
<div class="form-row"> 
<div class="form-group col-md-6">
  <div class="form-group">
    <label>Cover Type</label>
    <select name="CovertypeId" #CovertypeId="ngModel" [(ngModel)]="formData.CoverTypePolicy.Id" class="form-control" (change)="nameCoverSet($event.target)"
    [class.is-invalid]="!isValid && formData.CoverTypePolicy.Id=='0'">
      <option value='0'>-Select-</option>
      <option *ngFor="let item of coverTypeList" value="{{item.Id}}">{{item.Name}}</option>

    </select>
  </div>
</div>
<div class="form-group col-md-6">
    <div class="form-group">
    <label># Months Covering</label>
    <div class="input-group">
      
      <input name="AmontMonths"  type="number" #AmontMonths="ngModel" [(ngModel)]="formData.AmontMonths" class="form-control" required>
      <div class="validation-error" *ngIf="AmontMonths.is-invalid && AmontMonths.touched" >
        this Field is requiered
      </div>
     
    </div>
    </div>
</div>
</div> 
  <div class="form-row">
      <div class="form-group col-md-6">
        <div class="form-group">
            <label>Type Risk</label>
            <select name="TypeRisksId" #TypeRisksId="ngModel" [(ngModel)]="formData.TypeRisks.Id" 
            class="form-control" (change)="maxValueCover($event.target)"
            [class.is-invalid]="!isValid && formData.TypeRisks.Id=='0'">
              <option value="0">-Select-</option>
              <option *ngFor="let item of typeRiskList" value="{{item.Id}}">{{item.RiskName}}</option>
            </select>
          </div>
      </div>
       <div class="form-group col-md-6">
        <label>Policy Name</label>
        <div class="input-group">
          
          <input name="PolicyName"  type="text" #PolicyName="ngModel" [(ngModel)]="formData.PolicyName" class="form-control" required>
        </div>
      </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label>Max Covering</label>
          <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"></div>
              </div>
              <input name="MaxCovering" #MaxCovering="ngModel" [(ngModel)]="formData.TypeRisks.MaxCovering" class="form-control" readonly>
            </div>
      </div> 
    <div class="form-group col-md-6">
      <label>Policy Value</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input name="PolicyValue" type="number" #PolicyValue="ngModel" [(ngModel)]="formData.PolicyValue" class="form-control" required>
      </div>
    </div>
   

  </div>

    
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
</form>
